/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body{
  background-image: url('/static/img/RedBg.jpg');
}

.bio{
  font-size: 18;
  font: 18px Times New Roman ;
  color:white;
  text-align: center;
}
.desc{
  font-size: 18;
  font: 18px Times New Roman ;
  text-align: center;
  color:white;
}
.education{
  background-color:whitesmoke;
  color: black;
  text-align: center;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.skills{
  background-color: coral;
  color:black;
  text-align: center;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.contacts{
  background-color: yellow;
  text-align: center;
  border: 2px solid black;
  margin-top: 100px;
}