{% load static %}
<html lang=en>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body style="background-color: gold;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">My Matkul</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'webs5:s5matkul' %}">Matkul</a>
                <a class="nav-item nav-link" href="{% url 'webs5:s5tm' %}">Tambah Matkul</a>
                <a class="nav-item nav-link" href="{% url 'webs5:Story1' %}">Story 1</a>
                <a class="nav-item nav-link" href="{% url 'webs5:home' %}">Story 3</a>
              </div>
            </div>
        </nav>
          
        {% block content %}
        {% endblock %}
    </body>
</html>