<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    html{background-color:rgb(68, 150, 182) ;}
    .Story1{background-color:rgb(68, 150, 182) ;}
</style>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(68, 150, 182)">
    <a class="navbar-brand" href="#">BIODATA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'webs5:home' %}">Story 3</a>
        <a class="nav-item nav-link" href="{% url 'webs5:s5matkul' %}">Story 5</a>
      </div>
    </div>
</nav>
    <div class="Story1">
        <img src="https://scontent-xsp1-2.xx.fbcdn.net/v/t1.0-9/2023_114083358968846_8137644105767008273_n.jpg?_nc_cat=101&_nc_sid=09cbfe&_nc_eui2=AeHKpKQmiyLaoebc2WaWd1SMOZhs_gaJAwU5mGz-BokDBTJ_7Zznc1vyT7ps7k2GLHBpN7QxvMoS-ZP5IktUOvJN&_nc_ohc=-7IU7ZyDc1gAX-jjRS4&_nc_ht=scontent-xsp1-2.xx&oh=f7be915e5d77daab31cd675b16f003b3&oe=5F9179A1" alt="Foto saya" width="300" height="300">
        <br>
        <h2>Perkenalkan, nama saya Muhammad Daffa Yudhistira Dwipayana</h2>
        <p>NPM : 1906353441</p>
        <p>Umur : 19 tahun</p>
        <p>Angkatan : 2019</p>
        <p>Hobi : Bermain game dan membaca komik</p>
        <p>Tempat kuliah : Universitas Indonesia</p>
        <h3>Deskripsi diri</h3>
        <p>Jika saya harus mendeskripsikan diri saya, saya orangnya itu baik dan ramah terhadap orang lain.<br>
            Sifat buruk saya diantaranya adalah agak pemalas jika mengerjakan sesuatu yang sulit.<br>Namun,
            jika saya menemukan suatu hal yang saya suka dan bisa saya kerjakan,<br> saya akan bersungguh-sungguh 
            dalam mengerjakan hal tersebut.
        </p>   
        <h3>Riwayat Pendidikan</h3>
        <ol>
            <li>SDI PB Soedirman</li>
            <li>SMP Negeri 103 Jakarta</li>
            <li>SMA Negeri 98 Jakarta</li>
        </ol>
        <h3>Media Sosial</h3>
        <ul>
            <li>Line id : daffayudhis89</li>
            <li>Nomor Hp : 085772746486</li>
            <li>Alamat E-mail : daffayudhistira27@gmail.com</li>
        </ul>
    </div>
{% endblock content %}
</html>
