<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
    {% block meta %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock meta %}

    {% block content %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Fafdax</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'webs5:home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'webs5:eduskill' %}">Educations and skills</a>
                <a class="nav-item nav-link" href="{% url 'webs5:contact' %}">Contacts</a>
                <a class="nav-item nav-link" href="{% url 'webs5:Story1' %}">Story 1</a>
                <a class="nav-item nav-link" href="{% url 'webs5:s5matkul' %}">Story 5</a>
              </div>
            </div>
        </nav>
        <img src="{% static 'img/Foto profil.jpg' %}" alt="My photo" width="400" height="350" style="vertical-align:middle;margin:40px 480px">
        <div class="bio">
            <p>Nama lengkap: Muhammad Daffa Yudhistira Dwipayana</p>
            <p>NPM : 1906353441</p>
            <p>Umur : 19 tahun</p>
            <p>Angkatan : 2019</p>
            <p>Hobi : Bermain game dan membaca komik</p>
            <p>Tempat kuliah : Universitas Indonesia</p>
        </div>
        <br>
        <div class="desc">
            <h3>Deskripsi diri</h3>
            <p>Jika saya harus mendeskripsikan diri saya, saya orangnya itu baik dan ramah terhadap orang lain.<br>
            Sifat buruk saya diantaranya adalah agak pemalas jika mengerjakan sesuatu yang sulit.<br>Namun,
            jika saya menemukan suatu hal yang saya suka dan bisa saya kerjakan,<br> saya akan bersungguh-sungguh 
            dalam mengerjakan hal tersebut.
            </p>   
        </div>
    {% endblock content %}
</html>