{% extends 'base2.html' %}
{% block content %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
{% endif %}

{% for matkul in lessons %}
<div class="card text-dark bg-white mt-2 mb-2 mx-auto" style="max-width: 60rem;">
    <div class="card-header d-flex justify-content-between">
      <h5 class="my-auto"> {{matkul.nama_matkul}} </h5>
      <div class="d-flex flex-row">
        <a href={{matkul.get_absolute_url}} class="btn btn-primary mx-1 my-auto">Detail</a>
        <form action="{% url 'webs5:delete' matkul.id %}" class="my-auto"method="POST">
         {% csrf_token %}
         <button class="btn btn-primary mx-1" type="input">Delete</button>
        </form>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text m-1">Ruangan: {{matkul.ruangan}} </p>
      <p class="card-text m-1">Dosen Pembawa: {{matkul.nama_dsn}} </p>
    </div>
</div>
{% endfor %}
{% endblock %}
