{% extends 'base2.html' %}
{% block content %}
<div class="card text-dark bg-white mt-2 mb-2 mx-auto" style="max-width: 60rem;">
    <div class="card-header d-flex justify-content-between">
      <div class="d-flex flex-column">
        <h5 class="my-auto">{{matkul.nama_matkul}}</h5>
        <p class="card-text m-1 mt-2">Ruangan: {{matkul.ruangan}}</p>
        <p class="card-text m-1">Dosen Pembawa: {{matkul.nama_dsn}}</p>
      </div>
      <div class="d-flex flex-column">
        <p class="mx-1">{{matkul.semester}}</p>
        <p class="mx-1">{{matkul.sks}} SKS</p>
      </div>
    </div>
    <div class="card-body">
      <p> {{matkul.deskripsi}} </p>
    </div>
  </div>
{% endblock %}